/*!
 * admin-test.css
 *
 * Copyright 2012-2013 SEGA Corporation
 *
 */

.tablebox {
    border: 1px solid #87CEEB;
    *border: 1px solid #87CEEB;
}
.tablebox-header {
    border-bottom: 1px solid #87CEEB;
}
.tablebox-footer {
    border-top: 1px solid #87CEEB;
}
.info-body {
    border: 1px solid #87CEEB;
}

.order-list .order-list-row .order-list-cell {
    border-top: 1px solid #87CEEB;
}